csrc/*.hip
csrc/topk.hip
build/*
dist/*
__pycache__/*
csrc/*/*.hip
csrc/*/*_hip.cuh
csrc/*/*_hip.hpp
version.py
__pycache__/*
csrc/hip_*.cpp
csrc/hip_*.h
csrc/*_hip.h
csrc/groupnorm/*_hip.h
*.egg-info/*
csrc/*/*_hip.h
.vscode
dist/*
*/.triton/
run.sh
.vscode/*
**/*.xlsx
**/__pycache__/
**/*.log
**/*.txt
test/**/*.json
3rdparty/hipblaslt-install
